html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 18px;
  min-height: 100%;
  padding-top: 120px;
  position: relative;
}

a {
  color: #cc0606;
}

#cabecalho-unici {
  background: linear-gradient(135deg, #ffb600 0, #cc0606 75%);
  min-height: 80px;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  position: fixed;
  width: 100%;
}

#cabecalho-unici a {
  color: #ffffff;
  font-size: 18px;
  font-style: italic;
}

#cabecalho-unici a:hover {
  color: #cc0606;
}

.container .tutorial-link {
  font-size: 18px;
  margin: 20px 0;
}

.container .tutorial-link a {
  color: #cc0606;
  font-size: 15px;
}